# Day 15 | KNN Imputer

# Import Library

In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.impute import KNNImputer,SimpleImputer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

# Import Dataset

In [3]:

df = pd.read_csv('train.csv')[['Age','Pclass','Fare','Survived']]

In [4]:

df.head()

    Age  Pclass     Fare  Survived
0  22.0       3   7.2500         0
1  38.0       1  71.2833         1
2  26.0       3   7.9250         1
3  35.0       1  53.1000         1
4  35.0       3   8.0500         0

# Check Missing Value

In [5]:

df.isnull().mean() * 100

Age         19.86532
Pclass       0.00000
Fare         0.00000
Survived     0.00000
dtype: float64

# Define X & Y

In [6]:

X = df.drop(columns=['Survived'])
y = df['Survived']

# Train Test Split

In [7]:

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=2)

In [8]:


X_train

      Age  Pclass      Fare
30   40.0       1   27.7208
10    4.0       3   16.7000
873  47.0       3    9.0000
182   9.0       3   31.3875
876  20.0       3    9.8458
..    ...     ...       ...
534  30.0       3    8.6625
584   NaN       3    8.7125
493  71.0       1   49.5042
527   NaN       1  221.7792
168   NaN       1   25.9250

[712 rows x 3 columns]

# Apply KNN Imputer

In [11]:
knn = KNNImputer(n_neighbors=10,weights='distance')
x_train_trf = knn.fit_transform(X_train)
x_test_trf = knn.transform(X_test)

# Convert in Data Frame

In [16]:
pd.DataFrame(x_train_trf,columns=X_train.columns)

           Age  Pclass      Fare
0    40.000000     1.0   27.7208
1     4.000000     3.0   16.7000
2    47.000000     3.0    9.0000
3     9.000000     3.0   31.3875
4    20.000000     3.0    9.8458
..         ...     ...       ...
707  30.000000     3.0    8.6625
708  25.118926     3.0    8.7125
709  71.000000     1.0   49.5042
710  31.125155     1.0  221.7792
711  49.200824     1.0   25.9250

[712 rows x 3 columns]

In [18]:

pd.DataFrame(x_train_trf,columns=X_train.columns).sample(10)

       Age  Pclass     Fare
648  26.00     3.0   8.0500
63   27.00     1.0  76.7292
254  34.65     3.0   7.7500
611  52.00     1.0  93.5000
426  27.00     3.0  14.4542
240  30.00     3.0   7.2250
464  21.00     3.0   7.8542
257  29.20     3.0   7.8958
369  42.00     1.0  52.5542
455  44.00     3.0   8.0500

# Apply Logistic Regression

In [22]:
lr = LogisticRegression()
lr.fit(x_train_trf, y_train)

y_pred = lr.predict(x_test_trf)

acc = accuracy_score(y_test, y_pred)
print("Accuracy:", acc)
print("Accuracy (%):", acc * 100)

Accuracy: 0.7039106145251397
Accuracy (%): 70.39106145251397